<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="links" value="https://habr.com/ru/rss/interesting/|https://news.un.org/feed/subscribe/ru/news/all/rss.xml"/>
    <add key="refreshTime" value="900000"/>
    <add key="autoRefresh" value="false"/>
  </appSettings>
</configuration>
